<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/buildings.css">
<script type="text/javascript" th:src="@{/js/myOwnJS.js}"></script>
<title>Neo Material / General</title>
</head>

<body onload="showTime(), ck()">
	<div id="mainContainer" class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/wolframio.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${w}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/grafeno.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${g}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/carbino.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${c}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/acero.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${s}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/radiacion.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${r}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/solar.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${e}"></h5>
				</div>
			</div>
		</div>
		<div class="row justify-content-between mt-3">
			<div class="col-2">
				<a href="/user/profile" style="margin-left: 25%;"> <svg
						width="7em" height="7em" viewBox="0 0 16 16"
						class="bi bi-person-circle" fill="var(--mainWhite)"
						xmlns="http://www.w3.org/2000/svg">
                        <path
							d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd"
							d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
							d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>
				</a> <a href="/user/general" class="btn btn-info w-100 mt-5"
					role="button">GENERAL</a> <a href="/user/buildings"
					class="btn btn-info buttonActive w-100 mt-3" role="button">EDIFICIOS</a>
				<a href="/user/researches" class="btn btn-info w-100 mt-3"
					role="button">INVESTIGACION</a> <a href="/user/troups"
					class="btn btn-info w-100 mt-3" role="button">TROPAS</a> <a
					href="/user/movements" class="btn btn-info w-100 mt-3"
					role="button">MOVIMIENTOS</a> <a href="/user/radar"
					class="btn btn-info w-100 mt-3" role="button">RADAR</a> <a
					href="/user/ranking" class="btn btn-info w-100 mt-3" role="button">CLASIFICACION</a>
				<a href="/logOut" class="btn btn-danger w-100 mt-5" role="button">SALIR</a>
			</div>
			<div class="container col-7 mt-5">
				<div class="row">
					<div id="backgroundMainSection" class="col-12 p-2">
						<div th:each="sb: ${sbList}">
							<div th:id="'selectorChosen' + ${sb.buildingIds.id}"
								style="display: none;">
								<div class="row">
									<div class="col-5">
										<img id="selectorImgChosen"
											th:src="'/assets/buildings/'+ ${sb.buildingIds.id} +'.jpg'"
											alt="">
									</div>
									<div class="col-7">
										<div class="row justify-content-center">
											<h3 id="buildingName" th:text="${sb.buildingIds.name}"></h3>
										</div>
										<div class="row p-4">
											<form class="row justify-content-between"
												action="/user/preUpgradeBuilding" method=POST>
												<div class="col-8">
													<div class="form-group row">
														<div class="col-8">
															<label>Tiempo:</label>
														</div>
														<div class="col-4">
															<label id="prodTimer" th:text="${sb.buildTime}"></label>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-8">
															<label onclick="cron()">Energia:</label>
														</div>
														<div class="col-4">
															<label id="energyReq" th:text="${sb.reqEQuantity}"></label>
														</div>
													</div>
													<input id="sbId" name="sbId" type="hidden"
														th:value="${sb.id}" />
												</div>
												<div class="col-3">
													<input type="hidden">
													<button th:id="'btn'+${sb.id}" type="submit"
														class="btn btn-success" onclick="ck(this)">Mejorar</button>
												</div>
											</form>
										</div>
										<div class="row mx-4">

											<div class="form-row mt-3 justify-content-center">
												<a data-toggle="modal" th:data-target="'#sb'+${sb.id}">
													<svg width="3em" height="3em" viewBox="0 0 16 16"
														class="bi bi-exclamation-square" fill="currentColor"
														xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd"
															d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
													<path
															d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
												</svg>
												</a>

												<div class="modal fade" th:id="'sb'+${sb.id}" tabindex="-1"
													aria-labelledby="staticBackdropLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header"
																style="background-color: var(- -mainBlack);">
																<h5 class="modal-title" id="staticBackdropLabel"
																	th:text="${sb.buildingIds.name}"></h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body"
																style="background-color: var(- -mainBlack);">
																<p th:text="${sb.buildingIds.description}"></p>
																<table class="table table-light">
																	<thead>
																		<tr>
																			<td scope="col">Cantidad Recursos Nivel Actual:</td>
																			<td scope="row" th:text="${sb.resourceQuantity}"></td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td scope="col">Cantidad Puntos Otorgados
																				Siguiente Nivel:</td>

																			<td
																				th:text="${sb.reqWQuantity}+${sb.reqGQuantity}+${sb.reqCQuantity}+${sb.reqSQuantity}+${sb.reqRadQuantity}"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-2">
												<img id="selectorImgChosenMini"
													src="/assets/resources/wolframio.jpg" alt="">
												<p id="selectorReqChosen1" th:text="${sb.reqWQuantity}"></p>
											</div>
											<div class="col-2">
												<img id="selectorImgChosenMini"
													src="/assets/resources/grafeno.jpg" alt="">
												<p id="selectorReqChosen2" th:text="${sb.reqGQuantity}"></p>
											</div>
											<div class="col-2">
												<img id="selectorImgChosenMini"
													src="/assets/resources/carbino.jpg" alt="">
												<p id="selectorReqChosen3" th:text="${sb.reqCQuantity}"></p>
											</div>
											<div class="col-2">
												<img id="selectorImgChosenMini"
													src="/assets/resources/acero.jpg" alt="">
												<p id="selectorReqChosen4" th:text="${sb.reqSQuantity}"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="selectorsMainSection" class="col-12 mt-3">
						<div class="row">
							<div class="col-3 selectorDiv mb-4" th:each="sb: ${sbList}">
								<img th:id="'selectorImg' + ${sb.buildingIds.id}"
									th:src="'/assets/buildings/'+ ${sb.buildingIds.id} +'.jpg'"
									onclick="buildingDeploy(this)">
								<div id="buildLevel">
									<h5 th:text="${sb.buildLevel}"></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="row">
					<div class="col">
						<div class="row justify-content-center">
							<img class="imgSettlement"
								src="/assets/settlements/asentamiento8.jpg" alt="Resource"
								onclick="changeSettlement(this)">
						</div>
						<div class="row justify-content-center">
							<h5 th:text="${continent} + ':' + ${country} + ':' + ${region}"></h5>
						</div>
						<div class="row justify-content-center">
							<h5 id="timerContainer"></h5>
						</div>
						<h5 id="product" th:if="${timer}!=0" th:text="${timer}" /></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-start">
			<h2 id="clock"
				style="position: fixed; bottom: 5px; background-color: var(--mainBlack-0-40);"></h2>
		</div>
	</div>
	<script type="text/javascript" src="/jquery/jquery-3.5.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>