<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/ranking.css">
<script src="/js/myOwnJS.js"></script>
<title th:text="#{ranking.title}"></title>
</head>

<body onload="showTime(), reloj()">
	<div id="mainContainer" class="container-fluid d-none d-lg-block">
		<div class="row justify-content-center">
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/wolframio.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${w}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/grafeno.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${g}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/carbino.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${c}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/acero.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${s}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/radiacion.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${r}"></h5>
				</div>
			</div>
			<div class="col-1 recourceContainer">
				<div class="row">
					<img class="imgResource" src="/assets/resources/solar.jpg"
						alt="Resource">
				</div>
				<div class="row justify-content-center">
					<h5 th:text="${e}"></h5>
				</div>
			</div>
		</div>
		<div class="row justify-content-between mt-3">
			<div class="col-2">
				<a href="/user/profile" style="margin-left: 25%;"> <svg
						width="7em" height="7em" viewBox="0 0 16 16"
						class="bi bi-person-circle" fill="var(--mainWhite)"
						xmlns="http://www.w3.org/2000/svg">
                        <path
							d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd"
							d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
							d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>
				</a> <a href="/user/general" class="btn btn-info w-100 mt-5"
					role="button" th:text="#{nav.general}"></a> <a
					href="/user/buildings" class="btn btn-info buttonActive w-100 mt-3"
					role="button" th:text="#{nav.building}"></a> <a
					href="/user/researches" class="btn btn-info w-100 mt-3"
					role="button" th:text="#{nav.research}"></a> <a href="/user/troups"
					class="btn btn-info w-100 mt-3" role="button"
					th:text="#{nav.troup}"></a> <a href="/user/movements"
					class="btn btn-info w-100 mt-3" role="button"
					th:text="#{nav.movement}"></a> <a href="/user/radar"
					class="btn btn-info w-100 mt-3" role="button"
					th:text="#{nav.radar}"></a> <a href="/user/ranking"
					class="btn btn-info w-100 mt-3" role="button"
					th:text="#{nav.ranking}"></a> <a href="/logOut"
					class="btn btn-danger w-100 mt-5" role="button"
					th:text="#{nav.exit}"></a>
			</div>
			<div id="backgroundMainSection" class="container col-7 mt-5">
				<div id="rankingContainer" class="col-12 mt-2">
					<div class="row">
						<div id="totalAccess" class="col">
							<a href="#" onclick="showTotalSection()"
								style="text-decoration: none; color: var(--mainWhite);" th:text="#{ranking.tot}"></a>
						</div>
						<div id="buildingAccess" class="col">
							<a href="#" onclick="showBuildingSection()"
								style="text-decoration: none; color: var(--mainWhite);" th:text="#{ranking.build}"></a>
						</div>
						<div id="researchAccess" class="col">
							<a href="#" onclick="showResearchSection()"
								style="text-decoration: none; color: var(--mainWhite);" th:text="#{ranking.res}"></a>
						</div>
						<div id="troupAccess" class="col">
							<a href="#" onclick="showTroupSection()"
								style="text-decoration: none; color: var(--mainWhite);" th:text="#{ranking.troup}"></a>
						</div>
					</div>
					<div id="userByPoints" class="row justify-content-center"
						style="display: block">
						<table class="table mt-4">
							<thead class="bg-info text-center">
								<tr>
									<th colspan="6" th:text="#{ranking.tab.ptitle}"></th>
								</tr>
								<tr>
									<th scope="col" th:text="#{ranking.tab.nick}"></th>
									<th scope="col" th:text="#{ranking.tab.name}"></th>
									<th scope="col" th:text="#{ranking.tab.points}"></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="user:${userByPoints}">
									<tr th:if="!${user.role.equals('admin')}">
										<td th:text="${user.nick}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.points}"></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
					<div id="userByBPoints" class="row justify-content-center"
						style="display: none">
						<table class="table mt-4">
							<thead class="bg-info text-center">
								<tr>
									<th colspan="6" th:text="#{ranking.tab.btitle}"></th>
								</tr>
								<tr>
									<th scope="col" th:text="#{ranking.tab.nick}"></th>
									<th scope="col" th:text="#{ranking.tab.name}"></th>
									<th scope="col" th:text="#{ranking.tab.points}"></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="user:${userByBPoints}">
									<tr th:if="!${user.role.equals('admin')}">
										<td th:text="${user.nick}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.buildingPoints}"></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
					<div id="userByRPoints" class="row justify-content-center"
						style="display: none">
						<table class="table mt-4">
							<thead class="bg-info text-center">
								<tr>
									<th colspan="6" th:text="#{ranking.tab.rtitle}"></th>
								</tr>
								<tr>
									<th scope="col" th:text="#{ranking.tab.nick}"></th>
									<th scope="col" th:text="#{ranking.tab.name}"></th>
									<th scope="col" th:text="#{ranking.tab.points}"></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="user:${userByRPoints}">
									<tr th:if="!${user.role.equals('admin')}">
										<td th:text="${user.nick}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.researchPoints}"></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
					<div id="userByTPoints" class="row justify-content-center"
						style="display: none">
						<table class="table mt-4">
							<thead class="bg-info text-center">
								<tr>
									<th colspan="6" th:text="#{ranking.tab.ttitle}"></th>
								</tr>
								<tr>
									<th scope="col" th:text="#{ranking.tab.nick}"></th>
									<th scope="col" th:text="#{ranking.tab.name}"></th>
									<th scope="col" th:text="#{ranking.tab.points}"></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="user:${userByTPoints}">
									<tr th:if="!${user.role.equals('admin')}">
										<td th:text="${user.nick}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.troupPoints}"></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="row">
					<div class="col">
						<div class="row justify-content-center">
							<img class="imgSettlement"
								src="/assets/settlements/asentamiento8.jpg" alt="Resource"
								onclick="changeSettlement(this)">
						</div>
						<div class="row justify-content-center">
							<h5 th:text="${continent} + ':' + ${country} + ':' + ${region}"></h5>
						</div>
						<div class="row justify-content-center">
							<img class="imgSettlement mt-4" src="/assets/buildings/edificios_bg.jpg">
							<h5 id="timerContainer"></h5>
						</div>
						<div class="row justify-content-center">
							<img class="imgSettlement mt-4" src="/assets/researches/investigacion_bg.jpg">
							<h5 id="timerContainerR"></h5>
						</div>
						<div class="row justify-content-center">
							<img class="imgSettlement mt-4" src="/assets/tropas/defensas_bg.png">
							<h5 id="timerContainerT"></h5>
						</div>
						<div class="row justify-content-center">
							<img class="imgSettlement mt-4" src="/assets/movements/ataque_bg.jpg">
							<h5 id="timerContainerAttack"></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-start">
			<h2 id="clock"
				style="position: fixed; bottom: 5px; background-color: var(- -mainBlack-0-40);"></h2>
		</div>
	</div>
	
	<div id="mainContainer" class="container-fluid d-lg-none">
		<div class="alert alert-warning" role="alert"
			th:text="#{responsive.alert}"></div>
		<div class="row justify-content-around">
			<div id="infoContainer" class="col-10">
				<a th:href="@{/wiki}" id="btnWiki" class="btn btn-danger"
					role="button" th:text="#{responsive.btn}"></a>
				<h2 th:text="#{responsive.info1}"></h2>
				<h2 th:text="#{responsive.info2}"></h2>
				<h2 th:text="#{responsive.info3}"></h2>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/jquery/jquery-3.5.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>