<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/myOwnJS.js"></script>
    <title>User_Settings</title>
</head>

<body>
  <div id="mainContainer" class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-2">
        <a href="game_settings.html" class="btn btn-info w-75">Game Settings</a>
      </div>
      <div class="col-2">
        <a href="index.html" class="btn btn-danger w-75">Exit</a>
      </div>
    </div>
    <div id="usersphp" class="row justify-content-center">
                        
    </div>
  </div>
</body>

</html>