<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/wiki.css">
    <script src="/js/myOwnJS.js"></script>
    <title>Neo Material / Wiki</title>
</head>

<body>
    <div id="mainContainer" class="container-fluid">
        <div class="row justify-content-center">
            <div id="infoWiki" class="col-8">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h2>NEO MATERIAL</h2>
                    </div>
                    <div class="col-4">
                        <a href="/" id="btnWiki" class="btn btn-info" role="button">Vuelta a Index</a>
                    </div>
                </div>
                <div class="row">
                    <h3 id="prologueTitle">PROLOGO</h3>
                </div>
                <div id="prologueInfo" class="row">
                    <p>Año 473 tras la gran guerra, países destruidos, civilizaciones enfrentadas entre sí bajo el
                        manejo de un tirano.

                        La gran guerra trajo al mundo muerte destrucción y casi la aniquilación al completo de la raza
                        humana, solo se pudieron salvar algunos grupos de personas a lo largo y ancho de el planeta.

                        Todo empezó en 2035, año en el que el presidente Ruso falleció dejándole el cargo a su
                        Vicepresidente, Ivanov, ese sería el principio del fin, Ivanov era una persona sumamente
                        agresiva y desquiciada, era un joven sin escrúpulos que quería una sola cosa en el mundo, la
                        Supremacía Rusa sobre todas las naciones, y por un momento lo logró, en un intento de ofensiva
                        sobre Estados Unidos llegó a destruir gran parte del país pero a cambio de un precio demasiado
                        alto.

                        Ivanov lanzó 5 misiles nucleares sobre EEUU, los estados seleccionados por Ivanov fueron: New
                        York, Washington D.C., California, Michigan y New Jersey.
                        Por otro lado, en Estados Unidos se enteraron de los malévolos planes que tenia Ivanov y
                        decidieron contraatacar antes de que llegasen los misiles, decidió el presidente que era hora de
                        lanzar todo lo que tenían,pero no solo dieron en Rusia, los misiles lanzados por EEUU como
                        represalia contra Rusia también impactaron en prácticamente todos los países.

                        En menos de 2 días había pasado de ser un planeta “pacifico” a un planeta con las horas
                        contadas, el potencial de destrucción de los dos países era tan alto que en el momento que se
                        atacasen mutuamente el planeta Tierra tal y como lo conocíamos podía desaparecer, y así lo hizo,
                        ambos países se atacaron, eso conllevó a la muerte automática de los dos países casi por
                        completo, solo se pudieron salvar algunas familias en búnkeres comunitarios y privados, tanto
                        Rusia como Estados Unidos habían sido borrados del mapa, ya no existían.

                        Poco a poco las consecuencias de los ataques se vio reflejada en el resto del mundo, la
                        radiación mató al 85% de la población en cuestión de horas, al otro 15% no les fue mejor, a los
                        que no mató los dejo gravemente heridos, de ese 15% restante en cuestión de 3 meses solamente
                        quedaron vivos un 0,05% de la población mundial, únicamente 3.5 millones de personas alrededor
                        del mundo sobrevivieron.

                        Ivanov fue uno de ellos, consiguió la hegemonía sobre todo el mundo a costa de la destrucción de
                        este, no obstante aunque sobrevivió no duraría mucho tiempo ya que por la radiación tan fuerte a
                        la que estaban todos expuestos no eran raras las muertes por enfermedades desconocidas, y esto
                        fue lo que se llevo por fin de una vez por todas a Ivanov, los supervivientes dejaron escritos
                        que hoy en día se siguen recordando.

                        “La Paz nos une tras la Guerra que nos separa, la Vida resurge cuando la Muerte nos ataca”.

                        Es nuestro nuevo lema aun así las hostilidades vuelven a la carga, el mundo está dividido por
                        regiones y ciudades, cada uno mira por sí mismo y son capaces de hacer lo que sea por tal de
                        conseguir sobrevivir, después de 2 años, de esos 3.5 millones de personas solamente quedaban
                        poco mas de 2, la radiación seguía su curso y continuaba el trabajo que Ivanov empezó, al final
                        encontramos la forma de poder vivir sin miedo a la radiación, conseguimos hacer capsulas burbuja
                        en las cuales poder vivir en paz por fin, o eso creíamos...</p>
                </div>
                <div class="row">
                    <h3 id="resourcesTitle">RECURSOS</h3>
                </div>
                <div id="resourcesInfo" class="row">
                    <p>NEOMATERIA
                        La Neomateria es la principal fuente de vida del nuevo mundo, tras las bombas nucleares
                        encontramos una nueva materia super inestable pero que tenía todo lo necesario para la
                        construcción tanto de nuevas civilizaciones como de un nuevo mundo ya que es un compuesto entre
                        Wolframio, Grafeno, Carbino y Acero, sacamos la neomateria y la procesamos en las fabricas
                        específicas de cada compuesto.

                        RADIACION
                        Tras años de investigación encontramos la forma de usar la radiación como combustible para
                        nuestros vehículos y ciudades, en las cupulas tenemos instalados recopiladores de nanopartículas
                        que se encuentran en la radiación que tras procesos de modificación nanotecnológicas pudimos
                        usarlo como combustible desechable.

                        ENERGIA SOLAR
                        Tras la guerra la naturaleza y mas concretamente la atmosfera cambió drásticamente, el aire se
                        hacía casi irrespirable, y una capa espesa de radiación y nubes cubren el 100% del cielo del
                        mundo por lo tanto es imposible que la energía solar la podamos recibir con facilidad, creamos
                        unas cometas con paneles solares de grafeno para sobrepasar la capa de radiación y poder obtener
                        energía solar, no sabíamos si funcionaria pero en el momento que las echamos a volar nos
                        percatamos que la propia capa de radiación las mantenía en vuelo por encima de ella como si las
                        congelase en el aire y no las dejase caer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>