:root{
    /*Constants Colours*/
    --mainBlack: rgba(15, 15, 15);
    --mainBlack-0-80: rgba(15, 15, 15, 0.80);
    --mainBlack-0-40: rgba(15, 15, 15, 0.40);
    --mainWhite: rgb(243, 231, 223);

    /*Constants*/
    --mainBorder: 2px solid;
    --mainRadius: 10%;
    --mainColor: var(--mainWhite);
}

body{
    background-image:url("../assets/settlements/asentamiento8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#mainContainer{
    color: var(--mainWhite);
    padding: 2%;
    padding-top: 2%;
}

.recourceContainer{
    background-color: var(--mainBlack);
    border: var(--mainBorder);
    margin-right: 1%;
    margin-left: 1%;
    height: 11vh;
}

h5{
    font-size: 1vw;
}

.imgResource{
    width: 8vw;
    height: 8vh;
}

.imgSettlement{
    width: 8vw;
    height: 8vh;
    border: var(--mainBorder);
    border-color: var(--mainColor);
    border-radius: var(--mainRadius);
}

.buttonActive{
    border: var(--mainBorder);
    border-color: white;
}

#backgroundMainSection{
    background-color: var(--mainBlack-0-80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

#radarMap{
    margin: 0 auto;
    height: 40vh;
}

#imgMap{
    height: 100%;
    width: 100%;
} 